<div class="jumbotron">
    <h1>SafeHome</h1>
    <p class="lead">Active Security. Peace of Mind.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Packages</h2>
        <p>SafeHome has several security packages available. You should check them out sometime.</p>
    </div>
    <div class="col-md-4">
        <h2>What is SafeHome?</h2>
        <p>With SafeHome you can monitor your home security from anywhere in the world. Simple to setup, easy to monitor.</p>
    </div>
    <div class="col-md-4">
        <h2>Data Protect</h2>
        <p>We're serious about security. We're also serious about Data. Your data will always be kept secure, and never shared to any third parties.</p>
    </div>
</div>
